body {
    max-width: 100%;
    width: 100%;
    margin: auto;
    font-family: Merriweather, Georgia, 'Times New Roman', Times, serif;
    color: #505050;
    font-size: 12pt;
}

h1 {
    color: #2b2b2b;
    font-family: Raleway, Merriweather, 'Times New Roman', Times, serif;
    margin-bottom: 0px;
}

li {
    padding-top: 4px;
}

.intro {
    color: #797979;
    font-family: Merriweather, Georgia, 'Times New Roman', Times, serif;
    font-size: 12pt;
    margin-top: 5px;
}

.box{
	width: 100%;
    height: 50px;
    background-color: #20539A;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}

.piclink {
    width: 60px;
    height: 60px;
    position: absolute;
    transition: width, height, .5s;
}

.piclink:hover {
    width: 67px;
    height: 67px;
    transition: width, height, .5s;
}

.left {
    float: left;
    padding: 0 20px 20px 0;
    max-width: 370px;
    width: 100%;
   }

   .logo{
       position: absolute;
       top: 600px;
       left: -60px;
       z-index: -100;
   }

   .text{
       margin-right: 40px;
   }